.counters {
    padding-top: 40px;
}
.counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
}
.counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
}
.counters .card {
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 8px 5px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}
.section-header h3 {
    font-size: 36px;
    color: #013a67;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}
.section-header h3 span {
      color: #f8af39;
}
.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}
.project_done .project {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.project_done .project .project-info {
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background: rgba(29, 28, 41, 0.6);
}
.project_done .project .project-info  h4{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
.project_done .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00458f;
}
.project:hover .overlay {
  opacity: 1;
}
.project_done .text , .project_done .text-d1 , .project_done .text-d2{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.services-block .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}
.services-block .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.services-block  .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color:#024f66;
}
.services-block .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}
.services-block  .icon i {
    font-size: 36px;
    line-height: 1;
}
.project_request .text-black {
    color: #024f66 !important;
}
.contact_details{
  margin-top:50px;
}
.form-control, textarea{
  background-color: white !important;
}
.client-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 4px solid #fff;
  margin: 0px auto 20px;
  border-radius: 100%;
}
.carousel-content {
  padding: 50px 0px;
}
.carousel-content h3
{
  text-align: center;
  color: #024f66;
}
.carousel-content p
{
  color: #024f66;
}
.carousel-content h3 span {
  font-size: 17px;
  font-weight: normal;
  color: #f8af39;
  text-transform: uppercase;
}
.client-img img {
  width: 100%;
}
#testimonial {
  text-align: center;
  padding: 40px 0px;
  color: #fff;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
  font-size: 36px;
}
#testimonial h2 {
  font-size: 40px;
  font-style: italic;
  border-bottom: 1px solid #7fbdff;
  padding-bottom: 20px;
  display: inline-block;
}
.side-panel-menu .logo-side-panel img {
    height: auto !important;
    width: 80px !important;
}
.curve .btn{
  background-color: #f8af39 !important;
}
.navbar.fixed-top{
  background-color: #013a67 !important;
}
.mobile-tabs {
    background-color: #013a67 !important;
}
.post-item {
  background: #e6f5f2;
  margin-top:20px;
}
.post-item .content {
    padding: 20px;
}
.post-item .content h3 a {
    color: #024f66;
}
.post-item .content p {
    color: #757575;
    font-size: 14px;
    margin: 10px 0;
}
.post-item .content .btn-main {
    padding: 12px 25px;
    margin: 15px 0;
}
.btn-main {
    background: #f8af39;
    border: 1px solid #f8af39;
    border-radius: 5px;
}
.parnters-block , .works-block
{
    margin-top: -100px;
}
.breadcrumb .breadcrumb-item+.breadcrumb-item:before{
  font-family: 'FontAwesome' !important;
}
.about_us , .questions{
  margin-top:30px;
}
.about_us svg {
  margin-left: 10px;
  color: #f8af39;
}
.about_us h4{
  color : #013a67;
}
.about_us p{
  color : #013a67;
}
.about_us p{
  text-align: right;
  padding-right: 40px;
}
.questions h5{
  color: #f8af39;
  margin-top:10px;
}
.questions .faq-list {
    padding: 0;
    list-style: none;
    direction: ltr;
    margin-top:10px;
}
.questions .faq-list li {
    border-bottom: 1px solid #ebebeb;
}
.questions .faq-list a.collapsed {
    color: #013a67;
}

.questions .faq-list a {
    padding: 22px 0;
    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    padding-right: 20px;
}
.questions .faq-list p {
    margin-bottom: 20px;
}
@media (max-width: 991px)
{
  .navbar .navbar-brand img.only-mobile
  {
     width: 85px !important;
  }
}
